# Database Configuration
POSTGRES_DB=legal_aid_matching_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend Configuration
# JWT Secret should be a strong Base64 encoded key
LEGAL_AID_JWT_SECRET=Zeq1dyk7MAuzZtx5FgE+zevHnCD4r1105lnyI1XVEGc
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GROQ_API_KEY=your_groq_api_key_here

# The domain where the frontend is hosted
APP_OAUTH2_REDIRECT_URI=http://localhost/oauth2/callback
